@model BOOKM1.Models.Books

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Books</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wri_IN" class="control-label"></label>
                <input asp-for="Wri_IN" class="form-control" />
                <span asp-validation-for="Wri_IN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bcost" class="control-label"></label>
                <input asp-for="Bcost" class="form-control" />
                <span asp-validation-for="Bcost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wcost" class="control-label"></label>
                <input asp-for="Wcost" class="form-control" />
                <span asp-validation-for="Wcost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sold" class="control-label"></label>
                <input asp-for="Sold" class="form-control" />
                <span asp-validation-for="Sold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
